.hamburger  {
  // position: absolute;
  // top: 2rem;
  // right: 2rem;
  width: 40px;
  height: 40px;
  @media (min-width: $medium + 1) {
    display: none;
  }

  .hbutton {
    transform: translate3d(-20px,-20px,0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .click-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform: scale(1.5);
  }
  .icon-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: scale(0);
    transition: transform .45s var(--primary-ease),-webkit-transform .45s var(--primary-ease);
  }
  .line-center {
    backface-visibility: hidden;
    transform: translateZ(0) scale(1);
    line-height: 0;
    transform: scaleX(.71);
    transform-origin: right;
  }
}

.hamburger-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
}

.button-hamburger {
  border: 0;
  background: none;
  outline: none;
  padding: 0;
}

.background-is-white {
  color: var(--color-primary-black-2);
}

.background-hamburger {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-primary-black-1);
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .35s var(--primary-ease),-webkit-transform .35s var(--primary-ease);
  &.white {
    transform: scale(0);
    background-color: var(--color-primary-white);
   }
  &.inactive {
   transform: scale(0);
  }
}

.icon-hamburger {
  opacity: 1;
  &:after,
  &:before {
    content: "";
    transform: translate3d(0,-4px,0);
    transform-origin: right;
  }
  &:after {
    transform: translate3d(0,4px,0);
  }
  .line-center,
  &:after,
  &:before {
    display: block;
    width: 17px;
    height: 1px;
    background-color: var(--color-primary-white);
    transition: transform .45s var(--primary-ease), background-color .45s var(--primary-ease);
  }
}

.hamburger:hover .line-center {
  transform: scale(1);
}
