.top-nav__root {
  @media (min-width: $medium + 1) {
    --topHeight: 66px;
  }
  @media (max-width: $medium) {
    --topHeight: 40px;
  }
  position: fixed;
  top: var(--top, 0);
  left: 0;
  right: 0;
  transition: top 0.5s, background .3s;
  background-color: rgba(255,255,255, 1);
  z-index: 1;
  box-shadow: 0 2px 3px 0px rgba(0,0,0,.05);
  &--out {
    --top: calc(var(--topHeight) * -1);
  }
  &--in {
    //background-color: rgba(0,0,0, .7);
  }

}

.top-nav {
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-size: 80%;
  font-weight: $bold;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  &__logo {
    height: calc(var(--topHeight) - 15px);
    img {
      height: 100%;
    }
  }
  a {
    &:hover {
      color: var(--color-brand);
    }
  }
  ul {
    @media (min-width: $medium + 1) {
      display: flex;
    }
    @media (max-width: $medium) {
     display: none;
    }
  }
  li {
    position: relative;
    &:not(:first-child) {
      &:before {
        content: '\2022';
        margin: 0 .7rem;
      }
    }
  }
}

.mobile-menu {
  @media (min-width: $medium + 1) {
    display: none;
  }
}

.ham__icon {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  width: 17px;
  display: inline-block;
}

.ham__icon__line {
  --size: 70%;
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 4px;
  background-color: currentColor;
  border-radius: 1px;
  will-change: width;
  transition-property: width;
  transition-timing-function: ease-in;
  transition-duration: .3s;
  @media (hover: hover) {
    :hover > &:nth-child(even) {
      width: var(--size);
      margin-left: auto;
    }
  }
  @media (hover: none) {
    &:nth-child(even) {
      width: var(--size);
      margin-left: auto;
    }
  }
}
