.top-nav__root {
  position: fixed;
  top: var(--top, 0);
  left: 0;
  right: 0;
  transition: top 0.5s;
  background-color: rgba(255,255,255, 1);
  z-index: 1;
  box-shadow: 0 2px 3px 0px rgba(0,0,0,.05);
}

.top-nav {
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-size: 70%;
  font-weight: $bold;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  &__logo {
    height: 60px;
    img {
      height: 100%;
    }
  }
  a {
    &:hover {
      color: var(--color-brand);
    }
  }
  ul {
    display: flex;
  }
  li {
    position: relative;
    &:not(:first-child) {
      &:before {
        content: '\2022';
        margin: 0 .5rem;
      }
    }
    &:last-child {
      &:before {
        display: none;
      }
    }
  }
}
