
//@import 'fonts';
@import 'animation';

@import 'reset';

body {
	background-color: #fff;
	font-family: var(--body-font);
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.4;
	color: var(--color-light);
}

/**
 * ===================================================================
 * Base style
 *
 * -------------------------------------------------------------------
 */

a {
	color: #000;
	transition: all 0.3s ease-in-out;
}
a:hover,
a:focus,
a:active {
	color: var(--base-color);
	outline: 0;
}

/**
 * ===================================================================
 * Typography & general theme styles
 *
 * -------------------------------------------------------------------
 */
h2, h3, h4, h5, h6{
	font-family: var(--header-font);
	color: inherit;
	font-style: normal;
	margin-bottom: 1.5rem;
}

h2 {
	text-transform: uppercase;
	color: var(--base-color);
	letter-spacing: .2rem;
	white-space: nowrap;
	font-size: inherit;
}

h3 {
	@media (min-width: $smedium + 1) {
		font-size: 2rem;
	}
	@media (max-width: $smedium) {
		font-size: 1.5rem;
	}
}

.button {
	text-decoration: none;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  letter-spacing: .2rem;
  font-weight: bold;
  border-radius: 44px;
	text-transform: uppercase;
	font-size: .85rem;
	border: 3px solid transparent;
	padding: 1rem 2rem;
	&:hover,
	&:focus {
		border-color: var(--base-color);
		color: var(--base-color);
	}
}

.btn__group {
	display: flex;
	justify-content: center;
	margin-top: .6rem;
	li {
		+ li {
			margin-left: -3px;
			position: relative;
		}
		&:nth-last-child(2),
      &:nth-last-child(2)~li {
			&:first-child {
				.button {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
			&:last-child {
				.button {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
    }
	}
}

/// HERO

.hero {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: -1;
	height: 100vh;
}

.hero__image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  img {
    object-fit: cover;
  }
}

/**
 * ===================================================================
 * Misc Helper Styles
 *
 * -------------------------------------------------------------------
 */

.hide,
.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.align-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

button {
	border: 0;
	background: none;
	outline: none;
	padding: 0;
	-webkit-appearance: button;
}

.sr-only {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}


/**
 * loader animation
 * ---------------------------------------------------------------
 */
.s-loader {
	margin: 1.2rem auto 3rem;
	width: 70px;
	text-align: center;
	transform: translateX(0.45rem);
	> div {
		width: 1rem;
		height: 1rem;
		background-color: #FFFFFF;
		border-radius: 100%;
		display: inline-block;
		margin-right: .9rem;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}
	.bounce1 {
		animation-delay: -0.32s;
	}
	.bounce2 {
		animation-delay: -0.16s;
	}
}
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}
@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}
