/**
 * ===================================================================
 * About
 *
 * -------------------------------------------------------------------
 */

 .grid--about {
	display: grid;
	justify-items: center;
	margin: 0 auto;
}

.about__intro {
  max-width: var(--page-max-width);
  @media (min-width: $smedium + 1) {
    margin: 1rem auto 4rem;
  }
	@media (max-width: $smedium) {
    margin: 1rem auto 3rem;
  }
  h4 {
		 margin-bottom: 0px;
		 margin: 2rem 0 1rem;
  }
}

.about__content {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--page-max-width);
}

.about__label {
	font-size: 1.1rem;
	color: var(--color-dark);
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: bold;
}

.about__img {
	@media (min-width: $medium + 1) {
		max-width: 800px;
		margin: 0 auto;
	}
}
