/**
 * ===================================================================
 * About
 *
 * -------------------------------------------------------------------
 */

 .grid--about {
	display: grid;
	justify-items: center;
	margin: 0 auto;
}

.about__intro {
   max-width: var(--page-max-width);
	@include breakpoint($smedium + 1) {
		margin: 1rem auto 4rem;
  }
  @include breakpoint(0 $smedium) {
   	margin: 1rem auto 3rem;
  }
  h4 {
		 margin-bottom: 0px;
		 margin: 2rem 0 1rem;
  }
}

.about__content {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--page-max-width);
}

.about__label {
	font-size: 1.1rem;
	color: var(--color-dark);
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: bold;
}

.about__info-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	li {
		margin-bottom: .6rem;
	}
	@include breakpoint($smedium + 1) {
		margin: 2rem 0 0 0;
		li {
			padding: 0 0 1.5rem 0;
		}
	}
	strong {
		color: #313131;
		font-weight: bold;
		letter-spacing: .1rem;
		line-height: 2rem;
	}
	span {
		display: block;
		line-height: 1;
	}
	@include breakpoint(0 $smedium) {
		margin: .7rem 0 0 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
	}
}

.about__cta {
	.button {
		color: rgba(0,0,0,.8);
		margin-top: .6rem;
		border-color: rgba(0,0,0,.8);
		&:hover,
		&:focus {
			border-color: var(--base-color);
			color: var(--base-color);
		}
	}
}

/**
 * skillbars
 * -------------------------------------------------------------------
 */
 .about__skills {
	list-style: none;
	margin: 4rem 0 2rem;
	li {
		height: .4rem;
		background: #a1a1a1;
		width: 100%;
		margin-bottom: 4rem;
		padding: 0;
		position: relative;
		strong {
			position: absolute;
			left: 0;
			top: -2.4rem;
			color: #313131;
			font-family: inherit;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 2rem;
			@include breakpoint($smedium + 1) {
				letter-spacing: .1rem;
			}
		}
	}
	.progress {
		background: #313131;
		position: relative;
		height: 100%;
		span {
			position: absolute;
			right: 0;
			top: -2.1rem;
			display: block;
			color: #fff;
			font-size: .7rem;
			line-height: 1;
			background: #313131;
			padding: .4rem .4rem;
			border-radius: 3px;
			&:after {
				position: absolute;
				left: 50%;
				bottom: -5px;
				margin-left: -5px;
				border-right: 5px solid transparent;
				border-left: 5px solid transparent;
				border-top: 5px solid #313131;
				content: "";
			}
		}
	}
}
//$unit: %;
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);
@each $space in $spaceamounts {
	.percent#{$space} {
	  width: percentage($space / 100) ;
	}
}
