.intro__social__root {
  padding: 1rem 0 0;
}

.intro__social {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
	justify-content: center;
	li {
		display: inline-block;
		margin: 0 1rem;
		padding: 0;
	}
	a {
    display: block;
    transition: all .3s ease;
		&:hover,
		&:focus {
      svg {
        fill: var(--color-brand);
        opacity: 1;
      }
		}
  }
  svg {
    opacity: .7;
    width: 2rem;
    height: 2rem;
  	@media (min-width: $smedium + 1) {
			width: 2rem;
	    height: 2rem;
    }
    @media (max-width: $smedium) {
    	width: 1.5rem;
    	height: 1.5rem;
    }
	}
}
