.intro {
	height: 100vh;
	display: flex;
  text-align: center;
  align-items: center;
	justify-content: center;
	flex-direction: column;
	color: rgba(255,255,255,.9);
}

.hero__image {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: -1;
}

.introGradient {
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.8));
	}
}

.intro__content {
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	.h1 {
		color: rgba(255,255,255,1);
    line-height: 1.071;
    margin-top: 0;
    margin-bottom: .6rem;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(0,0,0,.5);
    font-size: calc(16px + 3vw);
	}
	a {
		color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.3);
    @media (max-width: $small) {
      padding: .7rem 1.5rem;
      letter-spacing: .1rem;
    }
	}
}

.intro__cta {
  li {
		+ li {
			.button {
				border-left-color: transparent;
				&:hover {
					border-left-color: var(--color-base);
				}
			}
		}
	}
}



.fade__text {
	overflow: hidden;
  height: var(--height);

  text-transform: uppercase;
  font-weight: 100;
	white-space: nowrap;
	@include fluid-type(35, 60);
	@media (min-width: $smedium + 1) {
    --height: 60px;
		width: 650px;
		margin: 2rem 0;
	}
	@media (max-width: $smedium) {
		--height: 35px;
		width: 320px;
		margin: 1.5rem 0;
	}
	span {
		line-height: var(--height);
    position: absolute;
    display: block;
		transform: translateX(-50%);
    left: 50%;
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    &:nth-child(1){
      animation-direction: alternate-reverse;
    }

    &:nth-child(2){
      animation-direction: alternate;
    }
	}
}


@keyframes fade {
  0%,50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
