.intro {
	height: 100vh;
	display: flex;
  text-align: center;
  align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hero__image {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: -1;
}

.introGradient {
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.8));
	}
}

.intro__content {
	position: relative;
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	h1 {
		color: rgba(255,255,255,.9);
    line-height: 1.071;
    margin-top: 0;
    margin-bottom: .6rem;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    //text-shadow: 0 0 20px rgba(0,0,0,.5);
    font-size: calc(16px + 3vw);
	}
	a {
		color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.3);
    @media (max-width: $small) {
      padding: .7rem 1.5rem;
      letter-spacing: .1rem;
    }
	}
}

.intro__cta {
	li {
		+ li {
			.button {
				border-left-color: transparent;
				&:hover {
					border-left-color: var(--base-color);
				}
			}
		}
	}
}

.intro__msg {
	color: var(--base-color);
	font-size: 1.3rem;
	margin-bottom: 0;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .2rem;
	//text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.intro__content {
	h1 {
	    transition: all .3s ease-in-out;
	}
	.button {
		&:hover,
		&:focus {
			&:before,
	    	&:after {
	    		background-color: var(--base-color);
	    	}
		}
	}
}

/*! @{target: critical} */
.intro__position {
	text-transform: uppercase;
	letter-spacing: .1rem;
	color: rgba(255, 255, 255, 0.7);
	display: flex;
	justify-content: center;
	//text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	margin: 0 1rem 4em;
	span {
		+ span {
			&:before {
				content: "|";
				text-align: center;
				display: inline-block;
				color: rgba(0, 0, 0, 0.3);
			}

		}
	}
	@media (min-width: $smedium + 1) {
		font-size: 1.2rem;
		span + span:before {
			padding: 0 1.3rem;
	  }
  }
  @media (max-width: $smedium) {
    font-size: .9rem;
    line-height: 2rem;
    flex-wrap: wrap;
    span + span:before {
      padding: 0 .9rem;
	  }
  }
}
