.animatedTextContainer {
	position: relative;
	--maskX: 0;
	--maskY: 0;
}

.animatedTextContent {
	cursor: pointer;
}

.animatedTextContentClone {
	position: absolute;
	top: 0;
	left: 0;
	clip-path: polygon(0 0,calc(var(--maskX) * 1% + (var(--maskY) - 50) * .4%) 0,calc(var(--maskX) * 1% + (var(--maskY) - 50) * -.4%) 100%,0 100%)
}
